.container {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 500px 500px 1fr;
    grid-template-areas:
    "sidebar main"
    "sidebar main"
    "sidebar main";
    width:100%;
    height:100%;
}

.sidebar {
    grid-area: sidebar;
    border: 1px solid black;
}

.main{
    grid-area: main;
    display: flex;
    border: 1px solid black;
    justify-content: flex-start;
    flex-flow: row wrap;
    gap: 50px;
    padding: 50px;
}

.banner{
    width: 250px;
    height:250px;
    border: 1px solid black;
    padding:10px;

}
